<?xml version="1.0"?>

<launch>
  <arg name="robot_ip" default="192.168.20.77"/>
  <arg name="limited" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="3.0"/>
  <arg name="prefix" default="simple_arm_" />  
  <arg name="max_velocity" default="10.0"/> <!-- [rad/s] -->
  <arg name="base_frame" default="$(arg prefix)base" />
  <arg name="tool_frame" default="$(arg prefix)tool0_controller" />

  
  <!--ATTENTION: user and password have to be filled in!!!!!-->	
  <machine name="Desktop" address="IP-ADDRESS" user="USER" password="PASSWORD" env-loader="PATH"/>
  <machine name="odroid" address="IP-ADDRESS" user="USER" password="PASSWORD" env-loader="PATH"/>


  <!-- robot model -->
  <include file="$(find myrobot2_description)/launch/myrobot2_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!--UR5 modern driver-->
  <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="log" launch-prefix=""> <!--launch-prefix="launch_prefix)"-->
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="min_payload" type="double" value="$(arg min_payload)"/>
    <param name="max_payload" type="double" value="$(arg max_payload)"/>
    <param name="max_velocity" type="double" value="$(arg max_velocity)"/>
    <param name="use_ros_control" type="bool" value="True"/>
    <param name="servoj_gain" type="double" value="750" /> <!--?-->
    <param name="prefix" value="$(arg prefix)" />
    <param name="base_frame" type="str" value="$(arg base_frame)"/>
    <param name="tool_frame" type="str" value="$(arg tool_frame)"/>
  </node>

  <!-- Load controller settings -->
  <rosparam file="$(find myrobot2_driver)/config/ur5_controller.yaml" command="load"/>




  <!--gripper driver-->
  <group ns="simple_gripper">    

    <rosparam file="$(find myrobot2_driver)/config/gripper_controller.yaml" command="load" />

    <node machine="odroid" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller joint_position_controller --timeout 5"/>

    <node machine="odroid" name="simple_gripper_hw" pkg="robotiq_2f_hw_usb" type="robotiq_2f_hw_usb_node" respawn="false" output="screen">
	<param name="port" type="str" value="/dev/ttyUSB0"/>
	<param name="server_id" type="int" value="9"/>
	<param name="name" type="str" value="simple_gripper_"/>
    </node>
  </group>




  <!-- spawn controller manager -->
  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller force_torque_sensor_controller vel_based_pos_traj_controller --timeout 5" />

  <!-- load other controller --> 
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_pos_traj_controller" /> 

  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


</launch>
