<?xml version="1.0"?>
<!--to run on a remote machine with the same ROS master-->
<!-- first do a 'reset' then 'activate' to activate the gripper-->
<launch>
  <!--ATTENTION: user and password have to be filled in!!!!!-->	
  <machine name="Desktop" address="IP-ADDRESS" user="USER" password="PASSWORD" env-loader="PATH"/>
  <machine name="odroid" address="IP-ADDRESS" user="USER" password="PASSWORD" env-loader="PATH"/>

  <node machine="odroid" name="CModelRtuNode" pkg="robotiq_c_model_control" type="CModelRtuNode.py"  args="/dev/ttyUSB0" output="screen">
  </node>

  <!-- this node is not running on odroid, you can see 'Available commands' on Desktop cmd-->
  <node name="CModelSimpleController" pkg="robotiq_c_model_control" type="CModelSimpleController.py" output="screen">
  </node>

</launch>
